:root {
    --beepo-green: #6fa287;
    --grey: #D3D3D3;
}

h1, a, p {
    font-family: 'Roboto', sans-serif;
  }
  

i{
    color: var(--beepo-green);
}

#search_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.search-bar{
    width: 600px;
    border: .5px solid var(--grey);
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 10px;
    font-size: 20px;
}

::placeholder{
    color: grey;
}

#results{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 50px;
}

#results h1{
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

#search-stats{
    color: grey;
    padding: 0;
}